.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;   
}

img {
    display: block;
}

button {
    background-color: $tertiary;
    border: none;
    padding: 15px 30px;
    color:$solidWhite;
}

hr {
    border-style: none;
    border-bottom: 3px solid $tertiary;
    width: 2.2rem;
}

section{
    padding-bottom: 3rem;
}