.blog{
    margin-top:70px;

    p{
        line-height: 24px;
    }
    h4{
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .fa-brands{
        color: $solidgrey;
        font-size: 15px;
        padding-right:10px;
        padding-left:10px;
    }
}

.blogDivider{
    border: 0.7px solid $secondary;
    width: 100%;
}

.blogTagSpan{
    font-family: $primaryFont;
    color:$solidgrey;
    font-size:12px;
    text-transform: none;
}

.author{
    display:flex;
    justify-content: space-between;
    // margin-top:20px;

}

.authorIntro{
    background-color: $quaternary;
    margin-left:20px;
    padding:30px ;

    p{
        line-height:24px;
    }
}

.relatedPosts{
    h4{
        padding:30px 0;
    }

    span{
        color:$blacktwo;
    }
}

.postContainer{
    display:flex;
    justify-content: space-between;
    
}

.post {
    width:calc(100% / 3);

    img{
        position:center;
    }

    h3{
        padding-top:20px;
    }

    h6{
        padding-top:10px;
        padding-bottom:50px;
    }
}

.comment{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top:20px;
    

    h5{
        text-transform: none;   
    }
    h6 {
        color: $blacktwo;
    }

    span,
    p {
        font-family: $secondaryFont;
        color: $solidgrey;
    }

    p{
        line-height: 24px;
    }
}

.commentPic{
    width:2.5rem;
    height:2.5rem;
}

.commentContent{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: $quaternary;
    padding: 15px 0 10px 10px;
    margin-left:15px;
    
    // need to do the triangel for comment box
}

.commentForm{
    h6{
        margin-top:10px;
        color:$secondary;
    }
}

.blogForm{
    display:flex;
    flex-direction: column;
    margin-top:20px;

    input,
    textarea{
        border:1px solid $secondary;
        padding: 7px 0 7px 8px;
        margin-bottom: 5px;
        font-family: $secondaryFont;
        font-size: 12px;
        line-height: 1.5;
    }

    button{
        align-self: flex-start;
        margin-top:5px;
    }
}

.commentRow1{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input{
        width:calc( ( 100% / 3) - 10px );
    }
}