.clientReview{
    background-color:#DDED9A;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;

    .wrapper{
        display:flex;
        flex-direction: column;
        align-items: center;

        .clientContent{
            position:relative;
        }

        .fa-quote-left,
        .fa-quote-right {
            color: rgba($solidWhite, 0.8);
            font-size:2rem;
        }

        .fa-quote-left{
            position:absolute;
            left:5rem;
            top:-1rem;

        }
        .fa-quote-right {
            position: absolute;
            right:5rem;
            bottom:-1rem;
        }
        p{
            width:60%;
            text-align: center;
            margin:0 auto;
            color:$primary;
        }
    }

    .angleContainer{
        display:flex;
        width:1.8rem;
        justify-content: space-between;
        padding-top:30px;

        .fa-angle-left,
        .fa-angle-right{
            font-size:1em;
        }
        
        .fa-angle-right{
            color: $solidWhite;
        }

        .fa-angle-left{
            color:rgba($solidWhite,0.8);
        }

    }
}