header{
    margin-top: 0;
    background-image:url("../assets/home-1.jpeg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;

    .nav{
        padding:20px;
        display:flex;
        justify-content: space-between;
        align-items: center;   
        
        h1{
            margin-left: 30px;
        }

        .navContainer{
            width:45%;
            display:flex;
            justify-content: space-around;
            align-items: center;
            position:relative;

            .counter{
                width:11px;
                height:11px;
                border-radius: 50%;
                background-color: $tertiary;
                font-family: $primaryFont;
                font-size: 8px;
                text-align: center;
                color:$solidWhite;
                position:absolute;
                right:73px;
                top:7px;

            }
        }
        
        .home{
            color:$tertiary;
        }
    }
}