header{
    margin-top: 0;
    background-image:url("../assets/home-1.jpeg");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    padding:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;   
    
    h1{
        margin-left: 30px;
    } 
}

.navContainer {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counterParent {
    position: relative;
}

.counter {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $tertiary;
    font-family: $primaryFont;
    font-size: 8px;
    text-align: center;
    color: $solidWhite;
    position: absolute;
    right: -8px;
    top: 7px;
}

.homePage {
    color: $tertiary;
}

.contactHeader{
    background-image: url(../assets/contact-1.jpeg);
    height: 50vh;
}

.blogHeader{
    background-image: url(../assets/blog-1.jpeg);
    background-size: cover;
    height: 50vh;
}

