.recipeContainer{
    display:flex;
    flex-wrap: wrap;
    
    img{
        width:100%;
    } 
}


.recipe {
    width: 50%;
}

.recipe1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        align-items: center;
    }

    p {
        width: 60%;
        text-align: center;
    }
}

.recipe4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $quaternary;
    
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    height: 90%;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.item {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0.5rem;
}

.itemIcon {
    font-size: 1.1rem;
    padding-right: 20px;
}

.itemContent{
    p{
        margin-top:5px;
    }
}
