// site fonts
$primaryFont: 'Raleway',sans-serif;
$secondaryFont: 'Lora', serif;
$tertiaryFont: 'Lora';

$baseFontSize:1rem;

// site colors
$primary:#2e2e2e;
$secondary:rgba(#999,0.7);
$tertiary:#64A604;
$quaternary:#EFEFEF;
$solidWhite:#f6f6f6;
$blacktwo:#333;
$solidgrey:grey;

