html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lora", serif;
  font-size: 14px;
  letter-spacing: 0.3px;
}

h1,
h2,
h3,
h4,
h5,
a,
button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  line-height: 24px;
  letter-spacing: 1.5px;
  padding-bottom: 12px;
}

h6,
p {
  color: grey;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  background-color: #64A604;
  border: none;
  padding: 15px 30px;
  color: #f6f6f6;
}

hr {
  border-style: none;
  border-bottom: 3px solid #64A604;
  width: 2.4rem;
}

section {
  padding-bottom: 2rem;
}

textarea {
  resize: none;
}

header {
  margin-top: 0;
  background-image: url("../assets/home-1.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav h1 {
  margin-left: 30px;
}

.hamburger {
  display: none;
}

.navContainer {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counterParent {
  position: relative;
}

.counter {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #64A604;
  font-family: "Raleway", sans-serif;
  font-size: 8px;
  text-align: center;
  color: #f6f6f6;
  position: absolute;
  right: -8px;
  top: 7px;
}

.homePage {
  color: #64A604;
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  height: 50vh;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  height: 50vh;
}

.recipeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipeContainer img {
  width: 100%;
}

.recipe {
  width: 50%;
}

.recipe1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipe1 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipe1 p {
  width: 60%;
  text-align: center;
}

.recipe4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EFEFEF;
}

.itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 0.5rem;
}
.item p {
  line-height: 0.8rem;
}

.itemIcon {
  font-size: 1.1rem;
  padding-right: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactPage {
  color: #64A604;
}

.contactLeftColumn {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.contactBoxLeft {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 20px;
}
.contactBoxLeft input,
.contactBoxLeft textarea {
  border: none;
  background-color: #EFEFEF;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-size: 12px;
  line-height: 1.5;
  color: grey;
}

.contactButton {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: none;
  background-color: transparent;
  color: #64A604;
  padding-left: 0;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nameFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name,
.email {
  width: 48%;
}

.contactRightColumn {
  width: 40%;
  background-color: #EFEFEF;
  font-family: "Lora", serif;
}

.contactBoxRight {
  padding-left: 30px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
.contactBoxRight h3 {
  padding-bottom: 10px;
}

.contactDetails {
  padding-bottom: 20px;
}
.contactDetails p {
  letter-spacing: 1.5;
  line-height: 1.5;
}

.workingHours,
.contactInfo {
  padding-bottom: 30px;
}

.mon {
  color: grey;
}

.openTime {
  font-family: "Lora", serif;
  text-transform: none;
  color: grey;
}

.notWorking {
  font-family: "Lora";
  font-style: italic;
  color: rgba(153, 153, 153, 0.7);
  letter-spacing: 0.01px;
}

.contactInfo p {
  color: rgba(153, 153, 153, 0.7);
}

.contactInfop {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dragonfruit {
  width: 100%;
}

.blogPage {
  color: #64A604;
}

.blog {
  margin-top: 70px;
}
.blog h2 {
  padding-bottom: 0;
}
.blog h4 {
  padding-top: 10px;
  padding-bottom: 5px;
}
.blog p {
  line-height: 24px;
}
.blog .fa-brands {
  color: grey;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.tags {
  padding-top: 20px;
  padding-bottom: 10px;
}

.blogDivider {
  border: 0.7px solid rgba(153, 153, 153, 0.7);
  width: 100%;
}

.blogTagSpan {
  font-family: "Lora", serif;
  color: grey;
  font-size: 12px;
  text-transform: none;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authorIntro {
  background-color: #EFEFEF;
  margin-left: 20px;
  padding: 30px;
}
.authorIntro p {
  line-height: 24px;
}

.relatedPosts h4 {
  padding: 30px 0;
}
.relatedPosts span {
  color: #333;
}

.postContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post {
  width: calc(33.3333333333% - 5px);
}
.post img {
  position: center;
  width: 98%;
}
.post h3 {
  padding-top: 20px;
}
.post h6 {
  padding-top: 10px;
  padding-bottom: 50px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 20px;
}
.comment h5 {
  text-transform: none;
}
.comment h6 {
  color: #333;
}
.comment span,
.comment p {
  font-family: "Lora", serif;
  color: grey;
}
.comment p {
  line-height: 24px;
}

.commentPic {
  width: 2.5rem;
  height: 2.5rem;
}

.commentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #EFEFEF;
  padding: 20px;
  margin-left: 15px;
}

.fa-caret-left {
  position: relative;
  display: inline;
  top: 1rem;
  left: 0.9rem;
  color: #EFEFEF;
  font-size: large;
}

.commentForm h6 {
  margin-top: 10px;
  color: rgba(153, 153, 153, 0.7);
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
.blogForm input,
.blogForm textarea {
  border: 1px solid #EFEFEF;
  padding: 7px 0 7px 8px;
  margin-bottom: 5px;
  font-family: "Lora", serif;
  font-size: 12px;
  line-height: 1.5;
}
.blogForm button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5px;
}

.commentRow1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.commentRow1 input {
  width: calc(33.3333333333% - 10px);
}

.ourRestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}
.ourRestaurants .wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
.ourRestaurants h2 {
  padding-top: 50px;
}
.ourRestaurants p {
  width: 50%;
  text-align: center;
}

.imgContainer {
  padding-top: 50px;
  position: relative;
}
.imgContainer .badge {
  position: absolute;
  top: -3rem;
  right: -3rem;
}

.gallery {
  padding-bottom: 0;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.galleryContainer li {
  width: 33.3333333333%;
}
.galleryContainer li img {
  width: 100%;
}

.clientReview {
  background-color: #DDED9A;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0;
}
.clientReview .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clientReview .wrapper p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: #2e2e2e;
}
.clientReview h2 {
  padding-bottom: 0;
}

.clientContent {
  margin-top: 20px;
  position: relative;
}

.fa-quote-left,
.fa-quote-right {
  color: rgba(246, 246, 246, 0.8);
  font-size: 2rem;
}

.fa-quote-left {
  position: absolute;
  left: 9rem;
  top: -1rem;
}

.fa-quote-right {
  position: absolute;
  right: 9rem;
  bottom: -1rem;
}

.angleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 1.25em;
}

.fa-angle-right {
  color: #f6f6f6;
}

.fa-angle-left {
  color: rgba(246, 246, 246, 0.8);
}

footer {
  background-color: #333;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .wrapper h1 {
  color: #64A604;
}
footer .wrapper h4 {
  color: #f6f6f6;
  padding-bottom: 18px;
}
footer .wrapper p {
  line-height: 1.25rem;
}

.footerContainer {
  width: 28%;
}

.footerdivider {
  border: 0.7px solid rgba(153, 153, 153, 0.7);
  width: 100%;
}

.address1 {
  margin-bottom: 0;
}

.address2 {
  margin-top: 0;
}

.fa-brands {
  color: #f6f6f6;
  padding: 10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.inputArea {
  background-color: #535353;
  border: none;
  font-family: "Lora", serif;
  color: rgba(153, 153, 153, 0.7);
  height: 42px;
  width: 90%;
}

.subscribe {
  height: 42px;
  width: 42px;
  padding: 0;
}

::-webkit-input-placeholder {
  font-family: "Lora", serif;
}

::-moz-placeholder {
  font-family: "Lora", serif;
}

:-ms-input-placeholder {
  font-family: "Lora", serif;
}

::-ms-input-placeholder {
  font-family: "Lora", serif;
}

::placeholder {
  font-family: "Lora", serif;
}

.footerCopyright {
  background-color: #2e2e2e;
}
.footerCopyright .wrapper {
  padding: 0;
}

.polar {
  font-family: "Raleway", sans-serif;
  color: #64A604;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .recipeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipe {
    width: 100%;
  }
  .recipe1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .recipe4 {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  header {
    background-position: center;
    height: 40vh;
  }
  .navContainer {
    display: none;
  }
  .hamburger {
    display: inline-block;
    font-size: 1.25rem;
  }
  .recipeContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipe {
    width: 100%;
  }
  .recipe1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fa-quote-left {
    left: 5rem;
  }
  .fa-quote-right {
    right: 5rem;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactLeftColumn,
.contactRightColumn {
    width: 100%;
  }
  .contactLeftColumn {
    padding-bottom: 0;
  }
  .contactBoxLeft {
    width: 100%;
    padding: 40px;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .recipe4 {
    padding-top: 20px;
  }
  .imgContainer {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgContainer .badge {
    width: 40%;
    right: -1rem;
  }
  .ourRestaurants p {
    width: 60%;
  }
  .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galleryContainer li {
    width: 100%;
  }
  .fa-quote-left {
    left: 3rem;
  }
  .fa-quote-right {
    right: 2.5rem;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper h4 {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .footerContainer {
    width: 100%;
    text-align: center;
  }
  .form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .inputArea {
    width: 17rem;
  }
  .subscribe {
    width: 6rem;
  }
  .blog h4 {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .authorIntro {
    margin-left: 0;
    margin-top: 20px;
  }
  .postContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post {
    width: 100%;
  }
  .post h6 {
    padding-bottom: 20px;
  }
  .blogForm button {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 320px) {
  .nav h1 {
    margin-left: 0;
  }
  .recipe1 p {
    width: 90%;
  }
  .item {
    width: 100%;
  }
  .imgContainer {
    padding-top: 0;
  }
  .imgContainer .badge {
    position: static;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .ourRestaurants {
    margin-top: 20px;
  }
  .ourRestaurants P {
    width: 90%;
  }
  .clientReview {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .clientReview .wrapper p {
    width: 80%;
  }
  .fa-quote-left {
    left: 0.3rem;
  }
  .fa-quote-right {
    right: 0.3rem;
  }
  footer .wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .footerCopyright .wrapper p {
    text-align: center;
    width: 75%;
  }
  .contactForm {
    padding-top: 0;
    padding-bottom: 0;
  }
  .contactBoxLeft {
    padding: 20px 40px;
  }
  .contactBoxRight {
    width: 90%;
    padding-left: 40px;
  }
  .blog {
    margin-top: 10px;
  }
}