html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lora", serif;
  font-size: 14px;
  letter-spacing: 0.3px;
}

h1,
h2,
h3,
h4,
h5,
a,
button {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  line-height: 24px;
  letter-spacing: 1.5px;
  padding-bottom: 12px;
}

p {
  color: rgba(153, 153, 153, 0.7);
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  background-color: #64A604;
  border: none;
  padding: 15px 30px;
  color: #f6f6f6;
}

hr {
  border-style: none;
  border-bottom: 3px solid #64A604;
  width: 2.2rem;
}

section {
  padding-bottom: 3rem;
}

header {
  margin-top: 0;
  background-image: url("../assets/home-1.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header .nav {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav h1 {
  margin-left: 30px;
}
header .nav .navContainer {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .nav .navContainer .counterParent {
  position: relative;
}
header .nav .navContainer .counter {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #64A604;
  font-family: "Raleway", sans-serif;
  font-size: 8px;
  text-align: center;
  color: #f6f6f6;
  position: absolute;
  right: -8px;
  top: 7px;
}
header .nav .home {
  color: #64A604;
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  height: 50vh;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
  background-size: cover;
  height: 50vh;
}

.recipeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipeContainer .recipe {
  width: 50%;
}
.recipeContainer img {
  width: 100%;
}
.recipeContainer .recipe1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipeContainer .recipe1 h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipeContainer .recipe1 p {
  width: 60%;
  text-align: center;
}
.recipeContainer .recipe4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}
.recipeContainer .recipe4 .itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.recipeContainer .recipe4 .itemContainer .item {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
}
.recipeContainer .recipe4 .itemContainer .item p {
  line-height: 1rem;
}
.recipeContainer .recipe4 .itemContainer .itemIcon {
  font-size: 1.1rem;
  padding-right: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactLeftColumn {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.contactBoxLeft {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 20px;
}
.contactBoxLeft input,
.contactBoxLeft textarea {
  border: none;
  background-color: #F6F6F6;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-size: 12px;
  line-height: 1.5;
}
.contactBoxLeft textarea {
  resize: none;
}

.contactButton {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: none;
  background-color: transparent;
  color: #64A604;
  padding-left: 0;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nameFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name,
.email {
  width: 48%;
}

.contactRightColumn {
  width: 40%;
  background-color: #F6F6F6;
  font-family: "Lora", serif;
}

.contactBoxRight {
  padding-left: 30px;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}
.contactBoxRight h3 {
  padding-bottom: 10px;
}

.contactDetails {
  padding-bottom: 20px;
}
.contactDetails p {
  letter-spacing: 1.5;
}

.workingHours,
.contactInfo {
  padding-bottom: 30px;
}

.ourRestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}
.ourRestaurants .wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
.ourRestaurants .imgContainer {
  padding-top: 50px;
  position: relative;
}
.ourRestaurants .imgContainer .badge {
  position: absolute;
  top: -3rem;
  right: -3rem;
}
.ourRestaurants h2 {
  padding-top: 50px;
}
.ourRestaurants p {
  width: 50%;
  text-align: center;
}

.gallery {
  padding-bottom: 0;
}
.gallery .galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery .galleryContainer li {
  width: 33.3333333333%;
}
.gallery .galleryContainer li img {
  width: 100%;
}

.clientReview {
  background-color: #DDED9A;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0;
}
.clientReview .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clientReview .wrapper .clientContent {
  position: relative;
}
.clientReview .wrapper .fa-quote-left,
.clientReview .wrapper .fa-quote-right {
  color: rgba(246, 246, 246, 0.8);
  font-size: 2rem;
}
.clientReview .wrapper .fa-quote-left {
  position: absolute;
  left: 9rem;
  top: -1rem;
}
.clientReview .wrapper .fa-quote-right {
  position: absolute;
  right: 9rem;
  bottom: -1rem;
}
.clientReview .wrapper p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  color: #2e2e2e;
}
.clientReview .angleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
.clientReview .angleContainer .fa-angle-left,
.clientReview .angleContainer .fa-angle-right {
  font-size: 1.25em;
}
.clientReview .angleContainer .fa-angle-right {
  color: #f6f6f6;
}
.clientReview .angleContainer .fa-angle-left {
  color: rgba(246, 246, 246, 0.8);
}

footer {
  background-color: #333;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .wrapper h1 {
  color: #64A604;
}
footer .wrapper h4 {
  color: #f6f6f6;
  padding-bottom: 18px;
}
footer .wrapper p {
  line-height: 1.25rem;
}
footer .wrapper .footerContainer {
  width: 28%;
}
footer .wrapper .footerdivider {
  border: 0.7px solid rgba(153, 153, 153, 0.7);
  width: 100%;
}
footer .wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
footer .wrapper .form .inputArea {
  background-color: #535353;
  border: none;
  font-family: "Lora", serif;
  color: rgba(153, 153, 153, 0.7);
  height: 42px;
}
footer .wrapper .form .subscribe {
  height: 42px;
  width: 42px;
  padding: 0;
}
footer .wrapper .fa-brands {
  color: #f6f6f6;
  padding: 10px;
}
footer .footerCopyright {
  background-color: #2e2e2e;
}
footer .footerCopyright .wrapper {
  padding: 0;
}
footer .footerCopyright .polar {
  color: #64A604;
  text-transform: uppercase;
}